<a href="/audit?id={{Id}}" class="list-group-item new" style="display:block;">
    <i class="fa {{valueOf GetIcon}}"></i> {{Title}}
    <span data-time="{{valueOf GetTimestampTicks}}" class="pull-right text-muted small">{{valueOf GetFormattedTimestamp}}</span>
</a>