- var editMode = editMode || false;

#stock.panel.panel-default
    each group, key in stockGroups
        .panel-heading(data-groupid="#{key}") #{group.Name}
        ul.list-group(data-groupid="#{key}")
            each item in group.Items
                li.list-group-item.stock-item(data-stockid="#{item.Id}")
                    button.btn.btn-primary.pull-right(onclick="Inventory.IssueStock(#{item.Id})", title="Release 1 item from inventory", disabled=(item.Quantity == 0 ? 'disabled' : null))
                        i.fa.fa-gbp
                        |  Issue
                    h3.name #{item.Name}
                    .quantity In Stock: #{item.Quantity}

script(src="/js/stock-list.js")