extends ../layout

block content
    
    .panel.panel-default
        .panel-heading
            i.fa.fa-book
            |  Audit Log
        .panel-body
            ul.timeline
                each log, index in audit
                    li(class="#{index % 2 == 1 ? 'timeline-inverted' : ''}")
                        .timeline-badge(class="#{getColour(log.Title)}")
                            i.fa(class="#{getIcon(log.Title)}")
                        .timeline-panel(id="#{log.Id}")
                            .timeline-heading
                                h4.timeline-title #{log.Title}
                                p
                                    small.text-muted #{new Date(log.Timestamp).toUTCString()}
                            .timeline-body
                                p #{log.Message}

block scripts
    script.
        $(document).ready(function () {
            
            var id = getQueryStringValue("id");

            if (!id)
                return;

            $("html, body").animate({ scrollTop: $('#' + id).offset().top - 100 }, 1000);

            $("#" + id).addClass("focussed").fadeOut(200).fadeIn(200).fadeOut(200).fadeIn(200);
        });
        