extends ../layout

block content

    .page-header
        h1 Edit Stock Groups
        
    table.table
        thead
            tr
                th Name
                th Update
                th Delete
        tbody
            each group in groups
                tr(id="row_#{group.Id}")
                    td
                        input.form-control(type="text", value="#{group.Name}", id="txtGroup_#{group.Id}")
                    td
                        button.btn.btn-default(onclick="sgUpdate(#{group.Id})")
                            i.fa.fa-pencil
                            |  Update
                    td
                        button.btn.btn-danger(data-toggle="modal", data-target="#confirmDelete", data-groupid=group.Id)
                            i.fa.fa-trash-o
                            |  Delete

    - var dialog = { Id: "confirmDelete", Title: "Confirm Delete", Message: "", OnClick: null, ButtonLabel: "Delete" }

    include ../client/modalDialog

block scripts
    script(src="/js/stock-groups/edit.js")