extends ../layout

block content

    if success == "true"
        #messageSuccess.alert.alert-success Stock item updated successfully
    else if success == "false"
        #messageSuccess.alert.alert-danger Editing stock item failed

    .page-header
        h1 Edit Stock Items
        
    table.table
        thead
            tr
                th Name
                th Quantity
                th Update
                th Delete
        tbody
            each item in items
                tr(data-stockid=item.Id)
                    td
                        span #{item.Name}
                    td
                        .btn-group.quantity-controls
                            .btn.btn-default(onclick="quantityAdjust(#{item.Id}, -1)")
                                i.fa.fa-minus
                            .btn.btn-default.quantity-display(disabled="disabled", data-original=item.Quantity) #{item.Quantity}
                            .btn.btn-default(onclick="quantityAdjust(#{item.Id}, 1)")
                                i.fa.fa-plus
                    td
                        a.btn.btn-default(href="edit/#{item.Id}")
                            i.fa.fa-pencil
                            |  Update
                    td
                        button.btn.btn-danger(data-toggle="modal", data-target="#confirmDelete", data-stockid=item.Id)
                            i.fa.fa-trash-o
                            |  Delete
                            
    - var dialog = { Id: "confirmDelete", Title: "Confirm Delete", Message: "", OnClick: null, ButtonLabel: "Delete" }

    include ../client/modalDialog
    
block scripts
    script(src="/js/stock/edit.js")
